.btn {
  position: relative;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: "Lato", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  background: url(https://cdn1.vectorstock.com/i/1000x1000/68/95/dark-blue-glowing-circuit-board-tech-background-vector-19816895.jpg) no-repeat center center;
  background-size: cover;
}
body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #2980b9 0%, #9B59B6 100%);
  background-size: 100% auto;
  opacity: 0;
  transition: all .65s ease-in-out;
}

.blur:after {
  opacity: .85;
}

.btn {
  position: relative;
  display: inline-block;
  border: 6px solid #ed7669;
  transition: all .1s ease-in-out;
  z-index: 99;
}
.btn.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.btn:focus, .btn:hover {
  border: 12px solid #e74c3c;
}

.btn,
.btn > span {
  cursor: pointer;
}

.btn > span {
  min-width: 426px;
}

.btn-inr {
  display: inline-block;
  color: white;
  font-weight: 100;
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;
  background: #ed7669;
  padding: 1em 2em;
  margin: 6px;
  transition: all .1s ease-in-out;
}
.btn-inr:focus, .btn-inr:hover {
  background: #e74c3c;
  padding: 1em 2em;
  margin: 0;
}

.txt-a {
  display: inline;
}

.txt-b {
  display: none;
}
.txt-c{
  display: inline;
}

.txt-d{
  display: none;
}
.txt-e{
  display: inline;
}

.txt-f{
  display: none;
}

.btn:focus .btn-inr,
.btn:hover .btn-inr {
  background: #e74c3c;
  padding: 1em 2em;
  margin: 0;
}

.btn:focus .txt-a,
.btn:hover .txt-a {
  display: none;
}

.btn:focus .txt-b,
.btn:hover .txt-b {
  display: inline;
}
.btn:focus .txt-c,
.btn:hover .txt-c {
  display: none;
}

.btn:focus .txt-d,
.btn:hover .txt-d {
  display: inline;
}
.btn:focus .txt-e,
.btn:hover .txt-e {
  display: none;
}

.btn:focus .txt-f,
.btn:hover .txt-f {
  display: inline;
}
